@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.8rem; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

@media (max-width: 575.98px) {
  html {
    font-size: 55%; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 58%; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 60%; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 62.5%; } }

@media (min-width: 1200px) {
  html {
    font-size: 62.5%; } }

.container {
  width: 75rem;
  max-width: 90%;
  margin: 0 auto; }

.padded {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.row {
  display: flex; }

.navbar {
  background-color: #2E2E39;
  padding: 1.25rem 0rem;
  padding-left: 90rem; }
  .navbar .row {
    display: flex;
    justify-content: space-between; }
  .navbar a {
    font-size: 2rem;
    color: white;
    text-decoration: none; }
  .navbar .links a {
    font-size: 1.6rem;
    margin-left: 2.5rem; }
    .navbar .links a:hover {
      color: #B56B85; }

.hero {
  background-image: url("../img/need.png");
  height: 75rem;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero #title {
    font-size: 7rem;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6rem; }
  .hero #headingDescription {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 2rem; }

.info {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .info #about {
    color: #B56B85;
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 2rem; }
  .info p {
    color: #2E2E39;
    margin: 0 auto;
    width: 70rem;
    max-width: 90%;
    text-align: center; }

.join {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e5e5e5e5;
  color: black;
  text-align: center; }
  .join #infoTitle {
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 2rem; }
  .join .bullet {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    padding-left: .8rem; }
  .join ul {
    padding-left: 0; }

.footer {
  background-color: #2E2E39;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  justify-content: space-between; }
  .footer .row {
    display: flex;
    justify-content: space-between; }
  .footer a {
    text-decoration: none;
    color: white; }
    .footer a:hover {
      color: #B56B85; }
  .footer i {
    color: white;
    margin-right: 5rem; }
    .footer i:hover {
      color: #B56B85; }
